Repository jandroav/claude-mcp-switch, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, deps, test, ci, core, cli, config

.github/labeler.yml:

# Labeler configuration for automatic PR labeling based on file paths

# Documentation
docs:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**/*'
      - 'CLAUDE.md'
      - 'README.md'

# Dependencies
deps:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'npm-shrinkwrap.json'

# Testing
test:
  - changed-files:
    - any-glob-to-any-file:
      - 'test/**/*'
      - '**/*.test.js'
      - '**/*.spec.js'
      - '**/test/**/*'

# CI/CD
ci:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*'
      - '.github/workflows/**/*'
      - '.github/**/*.yml'
      - '.github/**/*.yaml'

# Core source code
core:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/**/*.js'
      - 'lib/**/*.js'

# CLI specific
cli:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/ccmcp.js'
      - 'src/lib/**/*'

# Configuration
config:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*config*.js'
      - '**/*config*.json'
      - '.*.json'
      - '.*.js'

fix tests
  .github/WORKFLOWS.md
  .github/workflows/release-drafter.yml
  .github/workflows/release.yml
  CLAUDE.md
  README.md
  package.json
Labels: docs, deps, ci

feat: implement cross-platform test runner and update test scripts
  package.json
  scripts/run-tests.js
  test/unit/config.test.js
Labels: deps, test, config

fix: update project name from ccmcp to claude-mcp-switch in README and package.json
  README.md
  package.json
Labels: docs, deps

fix: add both package name and alias as bin commands, add LICENSE, and use dynamic version
  LICENSE
  package.json
  src/ccmcp.js
Labels: deps, core, cli

fix: update version display in CLI tests to reflect project name change
  test/integration/cli.test.js
Labels: test

fix: update config discovery order and add project-level config paths
  .gitignore
  CLAUDE.md
  README.md
  src/lib/config.js
  src/lib/ui.js
  test/unit/config.test.js
Labels: docs, test, core, cli, config

fix: update banner logo formatting for improved visibility
  src/lib/ui.js
Labels: core, cli

chore(release): 0.1.2
  package.json
Labels: deps

Refactor ccmcp.js to use claude CLI commands for server management
  CLAUDE.md
  README.md
  src/ccmcp.js
  src/lib/claude-cli.js
  src/lib/config.js
  src/lib/matcher.js
  src/lib/schema.js
  src/lib/storage.js
  src/lib/utils.js
Labels: docs, core, cli, config

test: update tests for claude CLI-based architecture
  test/integration/cli.test.js
  test/unit/config.test.js
  test/unit/matcher.test.js
  test/unit/schema.test.js
  test/unit/ui.test.js
  test/unit/utils.test.js
Labels: test, config

chore(release): 0.1.3
  package.json
Labels: deps

fix: update help text to reflect claude CLI-based architecture
  src/lib/ui.js
Labels: core, cli

chore(release): 0.1.4
  package.json
Labels: deps

Refactor code structure for improved readability and maintainability
  README.md
  doc/img/disable.png
  doc/img/enable.png
  doc/img/list.png
  doc/img/main.png
Labels: docs

docs: update README and add CI/CD workflows documentation
  README.md
  doc/CI_WORKFLOWS.md
Labels: docs

docs: remove image from README
  README.md
Labels: docs

fix ascii
  src/lib/ui.js
Labels: core, cli

chore: update image assets in documentation
  doc/img/disable.png
  doc/img/enable.png
  doc/img/list.png
  doc/img/main.png
Labels: none

chore: bump version to 0.1.5 in package.json
  package.json
Labels: deps
